.floatingButton {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #bd00ff;
}

.contentFallback {
  position: fixed;
  right: 20px;
  bottom: 100px;
  z-index: 10;
}
