.floatingButton {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #bd00ff;
}

.selectedItemContainer {
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100%;
  z-index: 10;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;

  transition: 0.5s all cubic-bezier(0.82, 0.085, 0.395, 0.895);
  will-change: transform;
}
.selectedItemContainer.showSheet {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

.sheetTitleContainer {
  font-style: italic;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 1.5rem;
  height: 3.5rem;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.sheetContentsContainer {
  padding: 20px 16px 80px 16px;
  height: 100%;
  line-height: 1.5rem;
  overflow-y: scroll;
}

.sheetContentsContainer img {
  width: 100%;
}
