.gifResultWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.25rem;
}

.loadMoreButton {
  height: 3.5rem;
  background: var(--radial-gradient);
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  color: var(--white);
  cursor: pointer;
  border: none;
  margin-bottom: 2.5rem;
  transition: transform 0.5s ease-in-out 0s;
  width: 100%;
}

.loadMoreButton:hover {
  background: var(--radial-gradient);
}
