.cursor {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 16px;
  color: var(--white);
}

.cursor::before {
  content: '';
  display: block;
  position: absolute;
  top: -12px;
  left: -12px;
  width: 24px;
  height: 24px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
}

.cursor span {
  display: inline-block;
  -webkit-animation: wave-text 1s ease-in-out infinite;
  animation: wave-text 1s ease-in-out infinite;
}

.cursor span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.cursor span:nth-of-type(2) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.cursor span:nth-of-type(3) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.cursor span:nth-of-type(4) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.cursor span:nth-of-type(5) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.cursor span:nth-of-type(6) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.cursor span:nth-of-type(7) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

@-webkit-keyframes wave-text {
  00% {
    transform: translate3d(0, 0em);
  }
  60% {
    transform: translate3d(0, -0.6em);
  }
  100% {
    transform: translate3d(0, 0em);
  }
}

@keyframes wave-text {
  00% {
    transform: translate3d(0, 0em);
  }
  60% {
    transform: translate3d(0, -0.6em);
  }
  100% {
    transform: translate3d(0, 0em);
  }
}
