.cursor {
  pointer-events: none;
  position: absolute;
  top: -12px;
  left: -12px;
  z-index: 10;
  padding: 8px 16px;
  color: var(--white);
  will-change: transform;
  contain: content;
  transition: transform 0.075s linear;
}

.cursor::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
}

.cursor span {
  display: inline-block;
  animation: wave-text 1s ease-in-out infinite;
}

.cursor span:nth-of-type(1) {
  animation-delay: 0s;
}
.cursor span:nth-of-type(2) {
  animation-delay: 0.1s;
}
.cursor span:nth-of-type(3) {
  animation-delay: 0.2s;
}
.cursor span:nth-of-type(4) {
  animation-delay: 0.3s;
}
.cursor span:nth-of-type(5) {
  animation-delay: 0.4s;
}
.cursor span:nth-of-type(6) {
  animation-delay: 0.5s;
}
.cursor span:nth-of-type(7) {
  animation-delay: 0.6s;
}

@keyframes wave-text {
  00% {
    transform: translateY(0em);
  }
  60% {
    transform: translateY(-0.6em);
  }
  100% {
    transform: translateY(0em);
  }
}
