.cursor {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 16px;
  color: var(--white);
  transform: translate3d(-9999px, -9999px, 0);
  will-change: transform; /* 합성 레이어 힌트 */
}

.cursor::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
}

.cursor span {
  display: inline-block;
  animation: wave-text 1s ease-in-out infinite;
  will-change: transform;
}
.cursor span:nth-of-type(1) {
  animation-delay: 0s;
}
.cursor span:nth-of-type(2) {
  animation-delay: 0.1s;
}
.cursor span:nth-of-type(3) {
  animation-delay: 0.2s;
}
.cursor span:nth-of-type(4) {
  animation-delay: 0.3s;
}
.cursor span:nth-of-type(5) {
  animation-delay: 0.4s;
}
.cursor span:nth-of-type(6) {
  animation-delay: 0.5s;
}
.cursor span:nth-of-type(7) {
  animation-delay: 0.6s;
}

@keyframes wave-text {
  0% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-0.6em);
  }
  100% {
    transform: translateY(0);
  }
}
