.heroSection {
  position: relative;
  color: var(--white);
  width: 100%;
  height: 46.5rem;
  padding-top: 3.5rem;
  aspect-ratio: 16 / 9;
}

.heroImage {
  width: 100%;
  height: 100%;
}

.projectTitle {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 8.5rem;
}

.title {
  font-style: italic;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 4.5rem;
  text-align: center;
}

.subtitle {
  font-style: italic;
  font-weight: 400;
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
  padding-top: 1.25rem;
}

.cta {
  position: absolute;
  bottom: 5.5rem;
}

.linkButton {
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 23.5rem;
  height: 3.5rem;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  border: none;
  background: var(--radial-gradient);
  color: var(--white);
  cursor: pointer;
  transition: all 0.5s ease-in-out 0s;
}

.linkButton:hover {
  background: var(--radial-gradient);
}

.featureSection {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 3.75rem 0;
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(232, 109, 198, 0.1) 0%,
    rgba(232, 109, 198, 0.64248) 0.01%,
    #bd00ff 77.6%
  );
}

.featureSectionWrapper {
  width: 65rem;
  border-top: 2px solid rgba(255, 255, 255, 0.75);
  padding: 3.75rem 0;
}

.featureTitle {
  font-style: italic;
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 3.75rem;
  text-align: center;
  color: var(--white);
}

.featureItemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.75rem;
}
