.searchbarSection {
  padding-top: 5rem;
  padding-bottom: 2.5rem;
  min-height: 200px;
}

.searchbarContainer {
  display: flex;
  justify-content: center;
  padding: 0 2rem;
  height: 2.75rem;
  align-items: center;
}

.searchbarTitle {
  line-height: 1.2;
  min-height: 3.6rem;
  font-style: italic;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  background: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 2rem;
  font-display: swap;
}

.searchInput {
  width: 30rem;
  height: 2.75rem;
  font-size: 1rem;
  padding: 0 1rem;
  box-sizing: border-box;
  transition: box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;
  border: 2px solid transparent;
}

.searchButton {
  width: 2.75rem;
  height: 2.75rem;
  background: var(--radial-gradient);
  transition: transform 0.1s ease;
  will-change: transform;
}
