.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3.5rem;
  background-color: var(--black);
  border-bottom: 1px solid var(--white);
  padding: 0 2rem;
  position: fixed;
  z-index: 10;
}

.nav {
  width: 1180px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-style: italic;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
}

.searchPageButton {
  width: 11rem;
  height: 2rem;
  background: var(--radial-gradient);
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  color: var(--white);
  cursor: pointer;
  border: none;
  transition: all 0.5s ease-in-out 0s;
}

.searchPageButton:hover {
  background: radial-gradient(
    110.23% 110.23% at 50% 50%,
    #bd00ff 0%,
    rgba(233, 97, 195, 0.77) 57.81%
  );
}

/* @media all and (max-width:424px) {
    .header {
        padding: 0 1rem;
        height: 4.5rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    .searchPageButton {
        font-size: 1.5rem;
        height: 2.5rem;
    }
} */
