.header {
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3.5rem;
  padding: 0 2rem;
  border-bottom: 1px solid #fff;
  background-color: #131313;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 73.75rem;
  height: 1.875rem;
}

.logo {
  color: #e2e2e2;
  font-weight: 700;
  font-style: italic;
  font-size: 1.25rem;
  line-height: 1.25rem;
  text-decoration: none;
  cursor: pointer;
}

.searchPageButton {
  width: 11.25rem;
  height: 1.875rem;
  border: none;
  background: radial-gradient(
    110.23% 110.23% at 50% 50%,
    #bd00ff 0%,
    rgba(233, 97, 195, 0.97) 57.81%
  );
  color: #fff;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out 0s;
}

.searchPageButton:hover {
  background: radial-gradient(
    110.23% 110.23% at 50% 50%,
    #bd00ff 0%,
    rgba(233, 97, 195, 0.77) 57.81%
  );
}

/* Mobile */
@media all and (max-width: 424px) {
  .header {
    height: 4.5rem;
    padding: 0 1rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .searchPageButton {
    height: 2.5rem;
    font-size: 1.5rem;
  }
}
