.searchContainer {
  background: #131313;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 3.5rem;
}

.searchIcon {
  width: 2rem;
  height: 2rem;
  color: #ffffff;
}
