.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 3.5rem;
  background: #131313;
}

.searchbarSection {
  padding-top: 5.3125rem;
  padding-bottom: 2.1875rem;
}

.searchbarContainer {
  display: flex;
  justify-content: center;
  padding: 0 2rem;
}

.searchbarTitle {
  padding-bottom: 2rem;
  background: linear-gradient(270deg, #e86dc6 7.22%, #c625ff 77.95%);
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 700;
  font-style: italic;
  font-size: 3rem;
  text-align: center;
  -webkit-text-fill-color: transparent;
}

.searchInput {
  box-sizing: border-box;
  width: 30rem;
  height: 2.75rem;
  padding: 0 1rem;
  font-size: 1rem;
  transition: transform 0.2s ease-in-out;
}

.searchButton {
  width: 2.75rem;
  height: 2.75rem;
  background: radial-gradient(
    110.23% 110.23% at 50% 50%,
    #bd00ff 0%,
    rgba(233, 97, 195, 0.64248) 61.18%,
    rgba(232, 109, 198, 0.1) 97.71%
  );
  cursor: pointer;
}

.searchIcon {
  width: 2rem;
  height: 2rem;
  color: #fff;
}

.searchResultSection {
  max-width: 1180px;
  min-height: 90vh;
  margin: 0 auto;
}

.resultTitle {
  padding-top: 3.75rem;
  padding-bottom: 2.25rem;
  font-weight: 700;
  font-style: italic;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
}

.resultTitle span {
  background: linear-gradient(270deg, #e86dc6 7.22%, #c625ff 77.95%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gifResultWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
  padding-bottom: 5rem;
}

.loadMoreButton {
  width: 100%;
  height: 3.5rem;
  margin-bottom: 2.5rem;
  border: none;
  background: radial-gradient(
    110.23% 110.23% at 50% 50%,
    #bd00ff 0%,
    rgba(233, 97, 195, 0.97) 57.81%
  );
  color: #fff;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out 0s;
}

.loadMoreButton:hover {
  background: radial-gradient(
    110.23% 110.23% at 50% 50%,
    #bd00ff 0%,
    rgba(233, 97, 195, 0.77) 57.81%
  );
}

/* Mobile */
@media all and (max-width: 424px) {
  .loadMoreButton {
    height: 5rem;
    font-size: 1.5rem;
  }

  .searchInput {
    font-size: 1.5rem;
  }

  .searchButton {
    width: 5rem;
  }
}
