footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7.5rem;
  background: var(--black);
  color: var(--white);
  contain: layout style;
}

footer p {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
}

footer a {
  color: var(--white);
  text-decoration: underline;
}
