footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 7.5rem;
  background: var(--black);
  color: var(--white);
}

footer p {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  font-family: 'Josefin Sans', Arial, sans-serif;
}

footer a {
  color: var(--white);
  text-decoration: underline;
}
