footer {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 7.5rem;
  height: 7.5rem;
  background: var(--black);
  color: var(--white);
}

footer p {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 7.5rem;
}

footer a {
  color: var(--white);
  text-decoration: underline;
}
