.featureItem {
  position: relative;
  width: 30rem;
  height: 26rem;
  overflow: hidden;
  margin-bottom: 5.5rem;
  text-align: center;
  transition: 0.8s all ease-in-out;
  border-radius: 4%;
}

.featureTitle {
  padding-top: 24px;
  position: relative;
  font-style: italic;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  color: var(--white);
}

.featureTitleBg {
  position: absolute;
  top: 0;
  width: 30rem;
  height: 10.25rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #0d0310 71.35%);
  transform: rotate(-180deg);
}

.featureImage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translateX(-10%);
}
