* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  line-height: 1;
  font-family: 'Josefin Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans' apple-system, 'Segoe UI', 'Roboto', sans-serif;
}

/* PC */
@media screen and (min-width: 1080px) {
  html {
    font-size: 16px;
  }
}

/* Mobile */
@media screen and (max-width: 424px) {
  html {
    font-size: 70%;
  }
}

/* Font */
/* vietnamese */
@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
  src: url(./assets/fonts/viet-JosefinSans-Italic.woff2) format('woff2'),
    url(./assets/fonts/viet-JosefinSans-Italic.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0,
    U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
  src: url(./assets/fonts/latin-ext-JosefinSans-Italic.woff2) format('woff2'),
    url(./assets/fonts/latin-ext-JosefinSans-Italic.woff) format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
  src: url(./assets/fonts/latin-JosefinSans-Italic.woff2) format('woff2'),
    url(./assets/fonts/latin-JosefinSans-Italic.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 700;
  font-display: fallback;
  src: url(./assets/fonts/viet-JosefinSans-BoldItalic.woff2) format('woff2'),
    url(./assets/fonts/viet-JosefinSans-BoldItalic.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0,
    U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 700;
  font-display: fallback;
  src: url(./assets/fonts/latin-ext-JosefinSans-BoldItalic.woff2) format('woff2'),
    url(./assets/fonts/latin-ext-JosefinSans-BoldItalic.woff) format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 700;
  font-display: fallback;
  src: url(./assets/fonts/latin-JosefinSans-BoldItalic.woff2) format('woff2'),
    url(./assets/fonts/latin-JosefinSans-BoldItalic.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url(./assets/fonts/viet-JosefinSans-Regular.woff2) format('woff2'),
    url(./assets/fonts/viet-JosefinSans-Regular.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0,
    U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url(./assets/fonts/latin-ext-JosefinSans-Regular.woff2) format('woff2'),
    url(./assets/fonts/latin-ext-JosefinSans-Regular.woff) format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url(./assets/fonts/latin-JosefinSans-Regular.woff2) format('woff2'),
    url(./assets/fonts/latin-JosefinSans-Regular.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: url(./assets/fonts/viet-JosefinSans-Bold.woff2) format('woff2'),
    url(./assets/fonts/viet-JosefinSans-Bold.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0,
    U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: url(./assets/fonts/latin-ext-JosefinSans-Bold.woff2) format('woff2'),
    url(./assets/fonts/latin-ext-JosefinSans-Bold.woff) format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: url(./assets/fonts/latin-JosefinSans-Bold.woff2) format('woff2'),
    url(./assets/fonts/latin-JosefinSans-Bold.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
